img{
    width: 600px;
    height: auto;
    margin-left: 200px;
}
div{
    margin: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    background:radial-gradient(grey 25%, grey 60%, black 96%);

}
#marco{
    position: absolute;
    margin-top: 200px;
    margin-left: 40px;
    width: 200px;
}
#tarma{
    position: absolute;
    margin-top: 200px;
    margin-left: 1550px;
    width: 200px;   
}